<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollegeCheck</title>
    
    <link rel="stylesheet" href="/styles/college.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=League+Gothic&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>  

    <div class="logo">
        <img src="/images/logo.png" alt="Logo" height="60px">
    </div>

    <div class="exit-btn">
       <a href="/">
        <div>
            <p>Exit</p>
        </div>
       </a>   
    </div>
    </header>

    <% if (lives >= 0) { %>

    <section class="question">

        <div>
           <p>What college/school did this player go to?</p> 
        </div>
        
    </section>

    <section class="player">
        <div>
            <p class="anton-sc-regular"><%= player %></p>
        </div>
    </section>

    <% } %>

    <section class="panel">

        <div class="streak-section">
            <% if(streak >= 3){ %>
                <img src="/images/streak.gif" height="100px" />
                <p><%= streak %> in a row!</p>
            <% } %>
        </div>

        <div class="answer-section">

            <% if(lives > 0){ %>
                    
                <form action="/CollegeCheck" method="post">
                <% if(!result) { %>
                <div>
                    <input type="radio" id="option1" name="option" value="<%= choices[0] %>">
                    <label class="mcq-option" for="option1"><%= choices[0] %></label>
                    <input type="radio" id="option2" name="option" value="<%= choices[1] %>">
                    <label class="mcq-option" for="option2"><%= choices[1] %></label>
                    <input type="radio" id="option3" name="option" value="<%= choices[2] %>">
                    <label class="mcq-option" for="option3"><%= choices[2] %></label>
                    <input type="radio" id="option4"name="option" value="<%= choices[3] %>">
                    <label class="mcq-option" for="option4"><%= choices[3] %></label>
                </div>
                       
                <% } %>
            <% } %>

                <% if(!result && lives>0){ %>
                    <div class="btns">
                    <input type="submit" value="Check Answer">
                    <input type="submit" value="Skip" formaction="/skip"> 
                    </div>
                
            <% } %>
            </form>

            <div class="reveal">
            <% if(result === "correct"){ %>
                <p style="font-size: 50px; color: green;">That's correct!</h2>
            <% } else if (result === "incorrect"){ %>
                <p>Nope, the correct answer is</p> 
                <p class="anton-sc-regular"><%= college %></p>
            <% } else { %>
                <h2></h2>
            <% } %>

            <% if(result && lives>0){ %>
                <form action="/next" method="post">
                <input type="submit" value="Next Question">
                </form>
            <% } %>
            </div>
            
            <% if (lives === 0) { %>

                <div class="game-over">
                    <p>Game over</p>
                    <form action="/restart" method="post">
                        <input type="submit" value="Restart">
                    </form>   
                </div>
                
            <% } %>

        </div>

        <div class="score-section">
            <p>Score: <%= score %></p>
            <p>High Score: <%= maxScore %></p>
            <p>Lives: 
                <%for(let i = 0; i < lives; i++){%>
                    <img src="/images/logo.png" height="25px">
                <% } %>    
            </p>
        </div>
    </section>

    <script src="/js/college.js"></script>
</body>
</html>